In [1]:
! pip install -q kaggle

In [2]:
from google.colab import files

In [ ]:
#Upload token kaggle account
files.upload()

In [ ]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/

In [7]:
! chmod 600 /root/.kaggle/kaggle.json

In [ ]:
! kaggle datasets list

In [ ]:
!kaggle datasets download 'ahsan81/hotel-reservations-classification-dataset'

In [ ]:
!unzip hotel-reservations-classification-dataset.zip

In [11]:
import pandas as pd

df = pd.read_csv('Hotel Reservations.csv')

In [12]:
df.head(20)

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,2018,9,13,Online,0,0,0,115.00,1,Canceled
6,INN00007,2,0,1,3,Meal Plan 1,0,Room_Type 1,34,2017,10,15,Online,0,0,0,107.55,1,Not_Canceled
7,INN00008,2,0,1,3,Meal Plan 1,0,Room_Type 4,83,2018,12,26,Online,0,0,0,105.61,1,Not_Canceled
8,INN00009,3,0,0,4,Meal Plan 1,0,Room_Type 1,121,2018,7,6,Offline,0,0,0,96.90,1,Not_Canceled
9,INN00010,2,0,0,5,Meal Plan 1,0,Room_Type 4,44,2018,10,18,Online,0,0,0,133.44,3,Not_Canceled
10,INN00011,1,0,1,0,Not Selected,0,Room_Type 1,0,2018,9,11,Online,0,0,0,85.03,0,Not_Canceled
11,INN00012,1,0,2,1,Meal Plan 1,0,Room_Type 4,35,2018,4,30,Online,0,0,0,140.40,1,Not_Canceled
12,INN00013,2,0,2,1,Not Selected,0,Room_Type 1,30,2018,11,26,Online,0,0,0,88.00,0,Canceled
13,INN00014,1,0,2,0,Meal Plan 1,0,Room_Type 1,95,2018,11,20,Online,0,0,0,90.00,2,Canceled
14,INN00015,2,0,0,2,Meal Plan 1,0,Room_Type 1,47,2017,10,20,Online,0,0,0,94.50,2,Not_Canceled
15,INN00016,2,0,0,2,Meal Plan 2,0,Room_Type 1,256,2018,6,15,Online,0,0,0,115.00,1,Canceled
16,INN00017,1,0,1,0,Meal Plan 1,0,Room_Type 1,0,2017,10,5,Offline,0,0,0,96.00,0,Not_Canceled
17,INN00018,2,0,1,3,Not Selected,0,Room_Type 1,1,2017,8,10,Online,0,0,0,96.00,1,Not_Canceled
18,INN00019,2,0,2,2,Meal Plan 1,0,Room_Type 1,99,2017,10,30,Online,0,0,0,65.00,0,Canceled
19,INN00020,2,0,1,0,Meal Plan 1,0,Room_Type 1,12,2017,10,4,Offline,0,0,0,72.00,0,Not_Canceled